header {
    height: 100px;
    background-color: blue;
}
header > div {
    height: 100%;
    background-color: red;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

main {
    height: calc(100vh - 100px);
    background-color: green;

}

main > div {
    height: 100%;
    background-color: orange;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

