body {
    height: 100vh;
  margin: auto;
  padding-top: 200px;
}

.outer {
    background-color: green;
    height: 75%;
    margin: auto;
    width: 85%;
    padding-top: 20px;
}

.inner {
    background-color: fuchsia;
    height: 80%;
    margin: auto;
    width: 75%;
    position: relative;
}
.circle {
    background-color: darkblue;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
}

.left {
    left: 0;
}

.top {
    top: 0;
}

.bottom{
    bottom: 0;
}

.right{
    right: 0;
}

